*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio contenuto */
.flex-container{
    display: flex;
    width: 70%;
    margin:0 auto;
}

.padding{
    padding: 3rem 0;
}


.column{
    border: 0.5px dashed;
}

/* header */
header{
    background-color: aquamarine;
}

.barr{
    padding: 1rem 0;
}

.small-orange{
    width: 25%;
    background-color: orange;
    padding: 0.3rem;

}

.big-orange{
    width: 50%;
    text-align: center;
    background-color: orange;
    padding: 0.3rem;
}

.login{
    text-align: end;
}

/* prima sezione */
.blue{
    background-color: blue;
}

.pink{
    background-color: rgb(233, 156, 169);
    align-self: center;
    width: 45rem;
    height: 20rem;
    margin: 0.5rem auto;
}

/* seconda sezione */
.white{
    background-color: white;
}

.big-blue{
    background-color: rgb(50, 140, 182);
    width: 60%;
    min-height: 25rem;
}

.big-pink{
    background-color: palevioletred;
    width: 40%;
    min-height: 25rem;
}

/* terza sezione */
.gray{
    background-color:gray;
}

.reverse{
    flex-direction: row-reverse;
}

/* quarta sezione
momentaneamente vuota */


/* quinta sezione */
.green-blue{
    background-color: green;
    width: 100%;
    min-height: 35rem;
}

/* footer */
footer{
    background-color: rgb(48, 47, 47);
}

/* prima parte footer */
.purple{
    background-color: purple;
    width: 40%;
    min-height: 30rem;
}

.water{
    background-color: greenyellow;
    width: 100%;
    min-height: 30rem;
    border: 0.5px dashed white;

}

.last-padding{
    padding: 1rem 0 3rem 0;
}

hr{
    margin-bottom: 2rem;
}

/* seconda parte footer */
.flex-space{
    display: flex;
    width: 70%;
    margin:0 auto;
    justify-content: space-between;
    min-height: 3rem;
    align-items: center;
    background-color: aquamarine;
    
}

.end{
    background-color: plum;
    padding: 0.2rem;
}